[submodule "public"]
	path = public
	url = https://github.com/huyhoang8398/huyhoang8398.github.io
[submodule "theme/hello-friend"]
	path = theme/hello-friend
	url = https://github.com/huyhoang8398/hugo-theme-hello-friend
