[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/huyhoang8398/hugo-theme-hello-friend
[submodule "public"]
	path = public
	url = https://github.com/huyhoang8398/huyhoang8398.github.io
