[submodule "public"]
	path = public
	url = https://github.com/huyhoang8398/huyhoang8398.github.io
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/thecodecousins/hugo-theme-terminal
